.home__container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  padding: 25px 100px;
  margin: 0 auto;
}

.home__sidebar {
  flex: 1;
  margin-right: 20px; /* Add space to the right of the sidebar */
  /* existing styles */
}

.home__row {
  flex: 3; /* adjust this value as needed */
  /* existing styles */
}
