.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem 0;
}

.home__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  /* Set a max-width for the entire container */
  width: 100%;
  padding: 1rem;
  margin-left: 60px;
}

.home__sidebar {
  flex: 0 0 200px;
  /* Sidebar width */
}

.home_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 2rem;
  margin: 0 auto;
}

/* Make sure grid also accommodates for smaller screens */
@media (max-width: 768px) {
  .home__container {
    flex-direction: column;
    align-items: center;
  }

  .home__sidebar {
    width: 100%;
    order: 2;
    /* Put the sidebar below the product list on small screens */
  }

  .home__row {
    width: 100%;
    order: 1;
  }
}
