/* =====Header===== */
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white; /* Light grey background color */
  color: #5e5e5e;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 12px 36px; /* Add some horizontal padding */
  justify-content: center;
  border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

.header__logo {
  width: 120px;
}

.header__search {
  display: flex;
  flex: 0.7;
  align-items: center;
  border-radius: 24px;
  border: 2px solid #5e5e5e; /* Solid border for the search container */
  background-color: #ffffff; /* White background for the search container */
  overflow: hidden; /* Prevents children from overflowing the parent's border */
  margin: 10px;
}

.header__searchInput {
  flex-grow: 1; /* Allow the input to fill the space in the flex container */
  padding: 12px 10px; /* Increase vertical padding to increase height */
  font-size: 15px; /* Optionally adjust font size for aesthetics */
  margin-left: 10px;
  border: none; /* No additional border for the input */
  outline: none; /* Remove the focus outline */
  background-color: transparent; /* No background color, it inherits from the parent */
}

.header__searchInput::placeholder {
  opacity: 0.8; /* Ensure the placeholder color isn't reduced by default styles */
}

.header__searchIcon {
  padding: 7px;
  background-color: #ff772a;
  color: #ffffff; /* White color for the search icon */
  border-radius: 999999px; /* Rounded corners on the right side of the icon */
  width: 48px;
  height: 48px;
  margin: 2px;
  transition: transform 0.3s ease;
}

.header__searchIcon:active {
  transform: scale(1.2);
}

.header__searchIcon:hover {
  background-color: #ff982a; /* Change color when button is hovered */
  transform: scale(1.05);
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__option {
  margin-right: 10px; /* Add margin to separate from the shopping cart icon */
  font-size: 15px; /* Increase font size for visibility */
  line-height: 1.4;
  min-width: 36px;
  padding: 9px 15px;
}

.header__optionCart {
  color: #5e5e5e; /* Same color as text for the shopping cart icon */
  margin-right: 10px;
  position: relative;
}

.header__cartCount {
  position: absolute; /* Position the basket count absolutely within its parent */
  top: -8px; /* Adjust top position to move it above the cart icon */
  right: -8px; /* Adjust right position to move it to the right of the cart icon */
  background-color: #ff772a;
  color: #ffffff;
  font-size: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px; /* Ensure the badge has a minimum width */
  height: 16px; /* Set the height for the badge */
  box-sizing: border-box;
  border: 2px solid #ffffff; /* Border color similar to the header background for a "cut-out" effect */
}

/* =====Product===== */

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  width: 300px;
  height: 370px;
}

.product .details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0 auto; /* Center the image horizontally */
}
.product h4 {
  flex-grow: 1;
  height: 50px; /* Set a fixed height for the title */
  margin-top: 15px;
  margin-bottom: 5px;
  overflow: hidden; /* Prevent long titles from taking up too much space */
}

.product .price {
  margin-top: 5px;
  margin-bottom: 10px;
}

.product button {
  background-color: #ff772a;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  opacity: 0.9;
  width: 90%;
  margin: auto;
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.product button:active {
  background-color: #ff5722; /* Change color when button is clicked */
  transform: scale(0.95); /* Scale down when button is clicked */
}

.product button:hover {
  background-color: #ff982a; /* Change color when button is hovered */
  transform: scale(1.05); /* Scale up when button is hovered */
}

/* =====ProductList===== */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(
    400px,
    auto
  ); /* Set a minimum height for the grid rows */
  gap: 20px;
  align-items: stretch; /* Stretch the items to fill the grid cell */
  padding: 50px;
  margin-left: 200px; /* Add left margin to move the list to the right */
}

.no-results-image {
  display: block;
  margin-left: 220px;
  margin-right: auto;
}

.loader {
  position: fixed; /* Position relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the exact center of the loader */
  z-index: 1000; /* Make sure it is above other content */
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #ff5722;
  border-color: #ff5722 transparent #bebebe transparent;
  animation: loader-animation 1.2s infinite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    border-color: #bebebe transparent #ff5722 transparent;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =====Cart===== */
.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.cart-header div {
  display: flex;
  align-items: center;
}

.back-to-products {
  text-decoration: none;
  color: #ff772a;
  font-weight: bold;
}

.back-to-products:hover {
  text-decoration: underline;
}

.cart-items {
  display: grid;
  grid-gap: 20px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
  flex: 0 0 150px;
  margin-right: 20px;
}

.item-image img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
}

.item-details {
  flex: 1;
}

.item-details h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.item-price,
.item-total {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

.item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-quantity button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.item-quantity span {
  margin: 0 10px;
  font-size: 16px;
  color: #333;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.remove-button .delete-icon {
  font-size: 20px;
  color: #ff772a;
  transition: color 0.3s ease;
}

.remove-button .delete-icon:hover {
  color: #e66a31;
}

.cart-summary {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.cart-summary h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #333;
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

.checkout-button {
  background-color: #ff772a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #e66a31;
}
